---
interface Props {
  url: string;
  caption?: string;
}

const { url, caption } = Astro.props;

// Convert standard youtube links to embed links if necessary
let embedUrl = url;
if (url.includes('youtube.com/watch?v=')) {
  const videoId = new URL(url).searchParams.get('v');
  if (videoId) embedUrl = `https://www.youtube.com/embed/${videoId}`;
} else if (url.includes('youtu.be/')) {
  const videoId = url.split('youtu.be/')[1].split('?')[0];
  if (videoId) embedUrl = `https://www.youtube.com/embed/${videoId}`;
} else if (url.includes('vimeo.com/')) {
  const videoId = url.split('vimeo.com/')[1].split('?')[0];
  if (videoId) embedUrl = `https://player.vimeo.com/video/${videoId}`;
}
---
<figure class="not-prose my-8 flex flex-col items-center w-full">
  <div class="w-full aspect-video rounded-box overflow-hidden shadow-xl bg-black">
    <iframe
      src={embedUrl}
      title="Video Player"
      class="w-full h-full border-0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  {caption && (
    <figcaption class="mt-3 text-sm text-base-content/70 text-center italic max-w-2xl">
      {caption}
    </figcaption>
  )}
</figure>
